<%= left_navigation_for_dashboard active: [:test_run, :edit], project: @project, test_run: @test_run %>

<%= page_header(present(@test_run).header_name,
  subject: h(@test_run.name)
) %>

<%= breadcrumbs(
  t(:projects, scope: :test_runs),
  projects_or_root_path(),
  @project.name,
  project_path(@project),
  t(:test_runs, scope: :test_runs),
  [@project, @campaign, Tmt::TestRun],
  @test_run.name,
  [@project, @campaign, @test_run],
  t(:edit, scope: :test_runs)
) %>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <%= render 'form',
        url: [@project, @campaign, @test_run],
        project: @project,
        campaign: @campaign,
        test_run: @test_run,
        executors: @project_users
      %>
    </div>
  </div>
</div>
