<%= left_navigation_for_admin active: :enumerations %>

<%= page_header(t :enumeration, scope: :enumerations) %>

<%= breadcrumbs(
  :admin,
  admin_cfgs_path,
  t(:enumerations, scope: :enumerations),
  admin_enumerations_path,
  h(@enumeration.name),
  admin_enumeration_path(@enumeration),
  :edit
) %>

<div class="col-lg-6">
  <%= render 'form',
    enumeration: @enumeration,
    is_remote: false
  %>
</div>
