<%= left_navigation_for_admin active: :test_case_types %>

<%= page_header t(:new_test_case_type, scope: :test_case_types) %>

<%= breadcrumbs(
  :admin,
  admin_cfgs_path,
  t(:test_case_types, scope: :test_case_types),
  admin_test_case_types_path,
  :new
) %>

<div class="col-lg-6">
  <%= render 'form',
    url: admin_test_case_types_path,
    test_case_type: @test_case_type
  %>
</div>
